*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.heading{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 96%;
    margin: 0px 20px 0px 20px;
    
}
.leftheading{
    /* border: 1px solid black; */
    width: 63%;
    padding: 10px;
    font-size: 15px;
}
#rightheading{
    /* border: 1px solid black; */
    width: 33%;
    padding: 15px;
}

#rightheading img{
    float: left;
    height: 50px;
    width: 50px;
    padding: 0px 0px;
    margin: 10px;
}

.custumcards {
    /* border: 1px solid black; */
    width: 96%;
    font-size: 11px;
    padding: 0px 20px 30px 20px;
    margin: 0px 20px 0px 20px;

    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.smallcards {
    /* border: 1px solid black; */
    height: 560px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px 0px;
    background-color: white; 
}

.custumcards img{
    height: 15em;
    width: 15em;
    margin: 20px;
}

.hashtag{
    /* border: 1px solid black; */
    height: 45px;
    width: 45px;
    border-radius: 5px;
    text-align: center;
    margin: 0px 100px;
    padding: 10px;
}

.textbox{
    width: 200px;
    /* border: 1px solid black; */
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin:20px;
    height: 250px;
}

.textbox p{
    font-size: 15px;
}
